@import "~or-theme";

$icon-width: 14px;
.or-radio {
  font-family: $font-family;
  cursor: pointer;
}

.or-radio-normal {
  position: relative;

  .or-radio-lable {
    padding-left: calc(#{$icon-width} + 8px);
    padding-right: 8px;
  }

  .or-radio-icon-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    width: $icon-width;
    height: $icon-width;
    transform: translateY(-50%);
    border-width: 1px;
    border-style: solid;
    border-color: $gray3;
    border-radius: 50%;
  }

  .or-radio-icon-inner {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(2);
    content: '';
    width: 8px;
    height: 8px;
    background-color: $primary-color;
    border-radius: 50%;
  }

  &.or-radio-checked {
    color: $primary-color;

    .or-radio-icon-wrapper {
      border-color: $primary-color;
    }

    .or-radio-icon-inner {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      transition: all 0.25s ease-in-out;
    }
  }

  &.or-radio-disabled {
    cursor: not-allowed;

    .or-radio-lable {
      color: $disabled-color;
    }
  }
}

.or-radio-button {
  display: inline-block;

  &.or-radio-checked {
    .or-btn {
      background-color: $primary-color;
      border-color: $primary-color;
      color: $white;
    }
  }
}

.or-radio-group-vertical {
  .or-radio {
    display: block;
  }
}

.or-radio-group-horizontal {
  .or-radio {
    display: inline-block;
  }
}
