@import "~or-theme";

.#{$prefix}-radio {
  display: flex;
  cursor: pointer;

  input {
    display: none;
  }

  .radio-icon-wrapper {
    position: relative;
    width: 14px;
    height: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: $gray3;
    border-radius: 50%;
    margin-right: 5px;
  }

  &.#{$prefix}-radio-checked {
    color: $primary-color;

    .radio-icon-wrapper {
      border-color: $primary-color;
    }

    .radio-icon-inner {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      content: '';
      width: 8px;
      height: 8px;
      background-color: $primary-color;
      border-radius: 50%;
    }
  }

  &.disabled {
    cursor: not-allowed;
    color: $gray3;
  }
}

.#{$prefix}-radio-button {
  width: 80px;
  line-height: 38px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: $gray4;
  border-radius: $btn-border-radius;
  color: $gray5;

  &:hover {
    color: $primary-color;
    border-color: $primary-color;
  }

  input {
    display: none;
  }

  .label-name {
    width: 100%;
  }

  &.disabled {
    label {
      border-color: $gray3;
      &:hover {
        color: $gray3;
        border-color: $gray3;
      }
    }
  }
}

.or-radio-checked {
  &.#{$prefix}-radio-button {
    background-color: $primary-color;
    border-color: $primary-color;
    border-radius: $btn-border-radius;
    color: $white;
  }
}



.#{$prefix}-radio-group {
  .#{$prefix}-radio-vertical + .#{$prefix}-radio-vertical {
    margin-top: 10px;
  }

  .#{$prefix}-radio-horizontal + .#{$prefix}-radio-horizontal {
    margin-left: 10px;
  }
  &.horizontal {
    display: flex;
  }
}
